---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://raw.githubusercontent.com/aks-Games/aks-Games.github.io/master/images/intro.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable" style="font-size: 80px;font-weight: bolder;text-shadow: -13px 8px 20px rgb(0 0 0);">aks Games</h1>
			<p class="subtext editable" style="font-size: 36px;font-weight: bold;">Adorn your life with Games</p>
			<div class="cta button alt"><a href="https://github.com/aks-Games/aks-Games.github.io/releases/download/v0.1/Ready.To.Ride.Pc.zip" style="background-color: green; color: white;">Download Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
  <div style="text-align: center;"><img src="{{ site.baseurl }}/images/aks-presents.png" height="300px" /></div>
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Ready to Ride</h2>
				<p class="editable">Driving simulator for PC</p>
			</div>
			<div class="image">
				<iframe width="100%" height="315"src="https://www.youtube.com/embed/6YmaSans_Ow"frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</section>
	
		<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Simulation</h2>
				<p class="editable">Realistic physics that influences on-road cars behavior and collisions</p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aks-Games/aks-Games.github.io/master/images/gameplay.png" alt="Screenshot" />
			</div>
		</div>
	</section>
	
		<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Ready To Ride Game Minimum System Requirements</h2>
				<p class="editable">Processor: Intel Core i3-3217U CPU @ 1.80GHz   1.80 GHz.
                                 RAM: 4 GB.
                                 OS:/ Windows 7/ Windows 8/ Windows 8.1/ Windows 10/
					
                                 VIDEO CARD: 256MB NVIDIA 7900+ / 256MB ATI X1900+
					
                                 DISK SPACE:600MB</p>
			</div>
			<div class="image">
				<img class="editable" src="https://raw.githubusercontent.com/aks-Games/aks-Games.github.io/master/images/https://github.com/aks-Games/aks-Games.github.io/blob/master/images/aks.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<!-- <section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Swipe and go</h2>
				<p class="editable">Frisco shows you cards with people who might be a good match for friendship. Swipe left to move to the next card or right to start talking.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section> -->

	<!-- <section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Find your buddy today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section> -->
</div>
